.header-container {
    display:flex; 
    flex-direction:column; 
}

.header-container header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px;
    background-color:#FFFF;
    height: 50px;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

/*
.header-container header .home {
    margin: 4px;
}
*/

.header-container header ul  {
    display: flex;
    list-style: none;
    justify-content: right;
    align-items: right;
    padding-right: 5px;
    padding-top: 4px;
        
}

.header-container header img {
    height: 20px; 
    padding-right: 4px;
    margin-bottom: 5px;
    margin-right: 10px;
}